@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  flex-direction: column;
}

::-webkit-scrollbar{
	width:7px;
}

::-webkit-scrollbar-thumb{
	background: #b8b0b0;
	border-radius:20px;
}
section#mid-section {
    padding: 10px;
}
.container2{
  height: 100vh;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    margin-top: 1%;
}
.container2 .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container2 .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-scroll {
    overflow: hidden;
    overflow-y: scroll;
    height: 45%;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 5px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
form .user-details .select{
    margin-bottom: 0px;
    padding: 20px;
    padding-right: 150px;
    padding-left: 65px;
    padding-bottom: 0px;
    font-size: medium;
    text-align: justify; 
 }
  form .select span.details {
    display: block;
    font-weight: 500;
  }
 form .button{
 width: -webkit-fill-available;
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: -webkit-fill-available;;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container2{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container2 .content .category{
    flex-direction: column;
  }
}
table {
    font-family: 'Poppins',sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  td{
    border: 1px solid #b42e9e;
    text-align: center;
    padding: 8px;
  }
  td .button{
      font-family: 'Poppins',sans-serif;
      border: 1px solid #15ccec;
      padding-left: 10px;
  }
  th{
    border: 1px solid #15ccec;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  @media (max-width: 411px){
  	.h2, h2 {
    font-size: 1rem;
}
.container-scroll {
    overflow: hidden;
    overflow-y: scroll;
    height: 33%;
}
tr {
    font-size: 10px;
}
button.btn.btn-danger {
    font-size: 10px;
}
  }
  