
@media(max-width: 680px) {
.details {
    width: 80vw;
}
}
::-webkit-scrollbar-thumb{
	background: #b8b0b0;
	border-radius:20px;
}


.wrap {
    background: url(images/bg1.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.wrap .center {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.wrap .center h1 {
    color: white;
    font-size: 5vw;
    width: 900px;
    font-weight: bold;
    text-align: center;
}

.center h2 {
    color: white;
    font-size: 5vw;
    font-weight: bold;
    margin-top: 10px;
    width: 885px;
    text-align: center;

}

.center .buttons {
    margin: 35px 280px;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #ffb3b3;
    background: red;
    outline: none;
    cursor: pointer;
    border: 1px solid #cc0000;
    border-radius: 25px;
    transition: .4s;
}

.buttons .btn2 {
    margin-left: 25px;
}

.buttons button:hover {
    background: #cc0000;
}


.search-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    position: relative;

}

.center form.example input {
    padding: 10px;
    font-size: 17px;
    border: 1px #cc0000;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example {
    display: flex;
    width: 80%;
}

.center form.example button {
    float: center;
    width: 20%;
    padding: 10px;
    background: #cc0000;
    color: white;
    font-size: 17px;
    border: 1px #cc0000;
    border-left: none;
    cursor: pointer;
}

.center form.example button:hover {
    background: #0b7dda;
}

.center form.example::after {
    content: "";
    clear: both;
    display: table;
}


.banner .post {
    flex: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 0.5;
    font-weight: 700;

}

.banner-title span {
    font-family: sans-serif;
}

.banner h1 {
    padding: 16rem 0 1rem 0;
}

.banner p {

    padding: .8rem 0 1rem 0;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 400;
    word-spacing: 2px;
}

.banner form {
    background: linear-gradient(-135deg, #a2d3f3, #d598ec);
    border-radius: 2rem;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
}

.post-user i {
    padding: 5px;
    margin: 5px;



}

.post-input {
    font-family: sans-serif;
    font-size: 1.1rem;
    width: 35vw;
    outline: 0;
    padding: 0.3rem 0;
    margin: 0 1rem 0 1rem;
    border: none;
    background: linear-gradient(-135deg, #a2d3f3, #d598ec);


}

.post-input::placeholder {
    text-transform: capitalize;
    color: #000000;
    padding: 1.5rem;
    text-align: left;


}

.post-btn {
    width: 40px;
    font-size: 1.1rem;
    color: #000000;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}
