@charset "ISO-8859-1";
#nav-bar {

    position: sticky;
    top: 0;
    z-index: 10;
    width: 100vw
}

::-webkit-scrollbar{
	width:7px;
}
div#showList {
    position: fixed;
    width: 180px;
    z-index: 2;
    margin-top: 36px;
    overflow-x: hidden;
}

li.list-group-item {
    overflow-wrap: break-word;
}
::-webkit-scrollbar-thumb{
	background: #b8b0b0;
	border-radius:20px;
}
.navbar {

    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 5px 5px;

}

.navbar-brand img {
    height: 40px;
    padding-left: 5px;

}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li {
    float: right;
    text-align: left;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: auto 0;
}

.navbar ul li a {
    text-transform: capitalize;
}

.navbar ul li a:hover {
    color: #007bff !important;
}

.navbar ul li .dropbtn:hover {
    color: #007bff !important;
}

.navbar {
    background: rgb(139, 234, 247);
}

nav .search_box {
    display: flex;
    margin: auto 0;
    line-height: 35px;
}
.search_box .autocom-box{
	opacity: 0;
	max-height: 280px;
	overflow-y: auto;
	pointer-events: none;
}
.search_box.active .autocom-box{
	opacity: 1;
	pointer-events: auto;
}

@media(min-width: 681px){
	
nav .search_box input {
    border: none;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;

}
nav .search_box {
    padding-left: 2rem;
}
div#showList {
    position: fixed;
    width: 350px;
    margin-top: 36px;
    z-index: 2;
}
li.list-group-item {
    overflow-wrap: break-word;
}

}
.search_box form {
    display: inherit;
    justify-content: center;
}


nav .search_box input[type="search"] {
    border-radius: 3px;
}


nav .search_box span {
    color: #0a5071;
    font-size: 20px;
    background: white;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search_box span:hover {
    color: white;

}

nav .search_box span::after {
    height: 100%;
    width: 100%;
    content: '';
    background: red;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

nav .search_box span:hover::after {
    width: 100%;
}


.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
    padding-bottom: px;
}


.nav-link .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
    background-color: inherit;
    font-family: sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(0, 0, 0) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: rgb(244, 238, 255);

}

.dropdown-content a:hover {
    color: #007bff;
}

.nav-link:hover .dropdown-content {
    display: block;
}


.autocom-box li:hover{
	background:#efefef;
}


@media(max-width: 680px) {
	nav .search_box {
    width: 65%;
}
  nav .search_box input {
    width: 65%;
}
}