@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
    
    body {
        font-family: 'Baloo Bhaina 2', cursive;
        background-color: #333;
    }

    .box {
        
        width: 80vw;
        margin: auto;
        background: linear-gradient(-135deg, #e2a5de, #a7b3e7);
        border-radius: 7px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
    }
	div summary {
    display: contents;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
}
summary a {
    word-break: break-word;
}
button.btn {
    font-size: 1.5rem;
    line-height: 1.5;
  }
    .box .heading {
        background-color: black;
        border-radius: 7px 7px 0px 0px;
        padding: 10px;
        color: #fff;
        text-align: center;
        font-size: 25px;
    }

    .faqs {
        padding: 0px 20px 20px;
    }

    ::-webkit-details-marker {
        float: right;
        margin-top: 1px;

    }
    .text{
        margin:10px;
    }

    .details {
        background-color: #f6f6f6;
        padding: 10px 20px;
        border-radius: 7px;
        margin-top: 20px;
        font-family: 'Baloo Bhaina 2';
        font-size: 20px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .time{
        font-size: 14px;
    }

    .details summary {
        outline: none;
        

    }
    
    button {
        height: 5vh;
        margin: 5px 0
    }
    .btnallans{
        color: #fff;
    }

    .pborder{
        border-left: 6px solid red;
        background-color: lightgrey;
        padding-left: 4px;
    }

    .btn-primary {
        height: 5vh;
        width: 200px;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

    form .button input:hover {
        /* transform: scale(0.99); */
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }