<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MajorProjectFinalYear</display-name>
  <error-page>
  		<error-code>404</error-code>
  		<location>/PageNotFound</location>
  </error-page>
  
   <servlet>
  		<servlet-name>PageNotFound</servlet-name>
  		<jsp-file>/PageNotFound.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>PageNotFound</servlet-name>
  		<url-pattern>/PageNotFound</url-pattern>
  </servlet-mapping>
  
   <servlet>
  		<servlet-name>index</servlet-name>
  		<jsp-file>/index.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>index</servlet-name>
  		<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>ViewAns</servlet-name>
  		<jsp-file>/ViewAnswer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ViewAns</servlet-name>
  		<url-pattern>/Answer</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>About</servlet-name>
  		<jsp-file>/AboutUs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>About</servlet-name>
  		<url-pattern>/About</url-pattern>
  </servlet-mapping>

  <servlet>
  		<servlet-name>Contact</servlet-name>
  		<jsp-file>/ContactUs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Contact</servlet-name>
  		<url-pattern>/Contact</url-pattern>
  </servlet-mapping>
    
  <servlet>
  		<servlet-name>Faq</servlet-name>
  		<jsp-file>/Faq.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Faq</servlet-name>
  		<url-pattern>/Faq</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>AddBranch</servlet-name>
  		<jsp-file>/AddBranch.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>AddBranch</servlet-name>
  		<url-pattern>/Branch</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>AddResult</servlet-name>
  		<jsp-file>/AddResult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>AddResult</servlet-name>
  		<url-pattern>/ResultAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>AddSubject</servlet-name>
  		<jsp-file>/AddSubject.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>AddSubject</servlet-name>
  		<url-pattern>/Subject</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>AdminHome</servlet-name>
  		<jsp-file>/AdminHome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>AdminHome</servlet-name>
  		<url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>UpdatePassword</servlet-name>
  		<jsp-file>/ChangePassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>UpdatePassword</servlet-name>
  		<url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>UpdateProfile</servlet-name>
  		<jsp-file>/EditProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>UpdateProfile</servlet-name>
  		<url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>FaqAdmin</servlet-name>
  		<jsp-file>/FaqAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>FaqAdmin</servlet-name>
  		<url-pattern>/FaqAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>ForgotPassword</servlet-name>
  		<jsp-file>/ForgotPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ForgotPassword</servlet-name>
  		<url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>StudentHome</servlet-name>
  		<jsp-file>/StudentHome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>StudentHome</servlet-name>
  		<url-pattern>/StudentHome</url-pattern>
  </servlet-mapping>
 
  <servlet>
  		<servlet-name>Login</servlet-name>
  		<jsp-file>/StudentLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Login</servlet-name>
  		<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>YourQuestions</servlet-name>
  		<jsp-file>/StudentQuestions.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>YourQuestions</servlet-name>
  		<url-pattern>/YourQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>YourAnswers</servlet-name>
  		<jsp-file>/StudentAnswers.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>YourAnswers</servlet-name>
  		<url-pattern>/YourAnswers</url-pattern>
  </servlet-mapping>
 
  <servlet>
  		<servlet-name>Register</servlet-name>
  		<jsp-file>/StudentRegister.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Register</servlet-name>
  		<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>SubjectCombination</servlet-name>
  		<jsp-file>/SubjectCombination.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>SubjectCombination</servlet-name>
  		<url-pattern>/SubjectCombo</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>AdminLogin</servlet-name>
  		<jsp-file>/AdminLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>AdminLogin</servlet-name>
  		<url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>